# Configurações do Banco de Dados
DB_HOST=sistema.nsitecnologia.com.br
DB_USER=rodri6000_nsi_tecnologia
DB_PASSWORD=RRn@285879
DB_NAME=rodri6000_nsi_tecnologia

# Configurações da Aplicação
PORT=3000
NODE_ENV=development

# Segurança
SESSION_SECRET=chave_super_secreta_gerada_automaticamente
JWT_SECRET=jwt_secret_key_para_futuras_implementacoes

# Logs
LOG_LEVEL=info



